.impact {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.25rem 1rem 1rem;
  background-color: var(--color-3);
  border-radius: 0.25rem;
  transform-origin: 50% 0;
  animation: 0.45s Appear var(--ease);
  will-change: transform, opacity;

  .label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .svg {
    width: 3rem;
    height: auto;
  }
}

@keyframes Appear {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
}
