.text {

  p {
    line-height: 1.5rem;
    font-size: 1.15rem;

    & + p {
      margin-top: .5rem;
    }
  }

  ul {
    margin-top: .5rem;
    padding-left: 2rem;

    & + p {
      margin-top: .5rem;
    }
  }

  li {
    padding-bottom: 0.5rem;
    font-size: 1.15rem;
  }

  a {
    position: relative;
    text-decoration: none;
    color: var(--darktestColor);

    &:active,
    &:focus-visible {
      outline: 4px solid var(--outlineColor);
      outline-offset: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--darktestColor);
    }
  }

  span {
    padding: 0 .2rem;
    background-color: var(--whiteColor);
    border-radius: .25rem;
  }
}
