.text {

  p {
    line-height: 1.75rem;
    font-size: 1.25rem;

    & + p {
      margin-top: .5rem;
    }
  }

  ul {
    padding-left: 2rem;
  }

  li {
    line-height: 1.75rem;
    font-size: 1.25rem;
  }
}
