.text {
  margin-bottom: 2rem;
  padding: 1.5rem 1.25rem;
  background-color: var(--neutralColor);
  border-radius: .25rem;

  p {
    line-height: 1.75rem;
    font-size: 1.15rem;
    color: var(--darktestColor);
  }
}
