.score {
  display: inline-flex;
  align-items: center;
  margin: 1rem 1rem 0 0;
  padding: .5rem 1.75rem .75rem 1rem;
  background-color: var(--lightestColor);
  border-radius: .25rem;

  .icon {
    width: auto;
    height: 3rem;
    margin-right: .75rem;
  }

  .text p {
    font-weight: bold;
  }
}