.information {
  max-width: 70rem;
  margin: 10vh auto;
  padding: .8rem 1.2rem;
  background-color: var(--text-bg);
  border-radius: .2rem;
  text-align: left;

  p {
    line-height: 1.4rem;
    font-size: 1rem;
    color: var(--text-fg);
  }
}