.title {
  padding: 1.25rem;
  background-image: linear-gradient(
    60deg,
    var(--solid-color-3) 0%,
    var(--solid-color-2) 100%
  );
  background-color: var(--solid-color-1);
  border-radius: 0.25rem;
  line-height: 1.25;
  font-weight: bold;
  font-size: 1.75rem;
  color: var(--neutral-color-1);
  transform-origin: 50% 0;
  animation: 0.35s Appear var(--ease);
  will-change: transform, opacity;
}

@keyframes Appear {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
}
