.info {
  display: flex;
  background-color: var(--color-1);
  border: 0.25rem solid var(--quaternary-color);
  border-radius: 0.25rem;
  transform-origin: 50% 0;
  animation: 0.25s Appear var(--ease);
  will-change: transform, opacity;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  padding: 0.75rem 1.25rem;
  border-right: 0.25rem solid var(--quaternary-color);
}

.text {
  line-height: 1.25;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--quaternary-color);
}

.button {
  padding: 0 0.25rem;
  background-color: transparent;
  font-size: 2.25rem;
  color: var(--quaternary-color);

  &:focus-visible {
    outline-offset: -0.25rem;
  }

  &:hover {
    background-color: var(--quaternary-color);
    color: var(--color-1);
  }
}

@keyframes Appear {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
}
