.heading {
  margin-bottom: 1rem;
  background-image: linear-gradient(60deg, var(--darktestColor) 0%, var(--darkColor) 100%);
  background-color: var(--darktestColor);
  padding: .75rem 1.5rem 1rem;
  border-radius: .25rem;
  transform-origin: 50% 0;
  animation: .35s Appear var(--ease);
  will-change: transform, opacity;
  
  .navigation {
    margin: .25rem 0 .75rem;
  
    ul {
      display: flex;
      list-style-type: none;
      flex-flow: row wrap;
      list-style-type: none;
    }

    li {
      line-height: 1.5rem;
    }
  
    li:nth-child(1),
    li:nth-child(2) {
      padding-right: .5rem;

      &::after {
        content: ">";
        margin-left: .5rem;
        font-size: .75rem;
        color: var(--whiteColor);
      }
    }
  
    a {
      font-size: 1rem;
      color: var(--whiteColor);

      &:active,
      &:focus-visible {
        outline: 4px solid var(--outlineColor);
        outline-offset: 4px;
      }
    }
  }
}