@mixin fonts {
  --font-text: Futura, 'Trebuchet MS', Arial, sans-serif;
  --font-icon: 'Material-Symbols', sans-serif;
}

@mixin colors {
  --neutral-color-1: #fff;
  --neutral-color-2: #ebebf8;
  --neutral-color-3: #fde2f0;
  --neutral-color-4: #0e0e24;
  --neutral-color-5: #000;
  --primary-color: #37389d;
  --primary-lighter-color: #6566c5;
  --primary-darker-color: #242673;
  --secondary-color: #f3389c;
  --tertiary-color: #11d482;
  --quaternary-color: #11c7df;
}

@mixin easings {
  --ease: cubic-bezier(0.43, 0.195, 0.02, 1);
}

:root {
  @include fonts();
  @include colors();
  @include easings();
}
