@mixin fonts {
  --font-text: Futura, 'Trebuchet MS', Arial, sans-serif;
  --font-icon: 'Material-Symbols', sans-serif;
}

@mixin colors {
  --neutral-color-1: #fff;
  --neutral-color-2: #000;
  --solid-color-1: #37389d;
  --solid-color-2: #6566c5;
  --solid-color-3: #242673;
  --solid-color-4: #ff0076;
  --solid-color-5: #00ff3c;
  --solid-color-6: #00e1ff;
  --solid-color-7: #ffff00;
  --solid-color-8: #ff8000;
  --solid-color-9: #b300ff;
  --solid-color-10: #0e0e24;
  --solid-color-11: #ff0000;
  --pastel-color-1: #a2d2fd;
  --pastel-color-2: #cef1d5;
  --pastel-color-3: #ffefbc;
  --pastel-color-4: #ffdbbc;
  --pastel-color-5: #fd69d0;
  --pastel-color-6: #ebebf8;
  --pastel-color-7: #fde2f0;
}

@mixin easings {
  --ease: cubic-bezier(0.43, 0.195, 0.02, 1);
}

:root {
  @include fonts();
  @include colors();
  @include easings();
}
