.notebook {
  position: relative;

  div {
    display: none;
    flex-direction: column;
    margin-top: .5rem;
    padding: 1rem;
    background-color: var(--neutralColor);
    border: 4px solid var(--darkterColor);
    border-radius: .25rem;
    animation: .25s Appear var(--ease);
    will-change: transform, opacity;
  }

  p {
    text-align: left;
    line-height: 1.5rem;
    font-size: 1.15rem;
    font-weight: bold;
    color: var(--darkterColor);
  }

  &.active div {
    display: flex;
  }
}