@import '../../styles/variables.scss';

.result {

  .title {
    text-align: center;
    line-height: 3rem;
    font-size: 2.8rem;
  }

  .button {
    margin-top: 6vh;
    padding: 1rem;
    line-height: 1.2rem;
    font-size: 1.2rem;

    @media screen and (max-width: $tablet-portrait) {
      margin-top: 1rem;
    }
  }
}