*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--whiteColor);
  font-family: var(--font);
  color-scheme: light dark;
  font-synthesis: none;
  font-size: 1rem;
  color: var(--darktestColor);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button,
input {
  font-family: var(--font);
}
