@import '../styles/variables.scss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#lcc {
  position: relative;
}

.page {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 44rem;
  padding: 1.5rem 2.5rem 2rem;
  background-color: var(--lightestColor);
  border-radius: .25rem;
  text-align: center;
  animation: .25s Appear var(--ease);
  will-change: transform, opacity;
}

.top {
  display: flex;
}