// @import '../styles/variables.scss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutralColor);
  font-family: var(--font2);
  color-scheme: light dark;
  font-synthesis: none;
  color: var(--darktestColor);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#lcc {
  position: relative;
}

.page {
  position: relative;
}

.main {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  height: auto;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article {
  position: relative;
  z-index: 1;
  max-width: 50rem;
  width: 100%;
  padding: 1rem;
  animation: .25s Appear var(--ease);
  will-change: transform, opacity;

  .wrapper {
    display: flex;
    margin-top: 2rem;
  }
}

.form {
  margin: 2.5rem 0;
}