@import '_variables.scss';

#lcc {
  position: relative;
}

.page {
  position: relative;
}

.main {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  height: auto;
  padding: 6rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article {
  position: relative;
  z-index: 1;
  max-width: 55rem;
  width: 100%;
  padding: 1rem;
  transform-origin: 50% 0;
  animation: .25s Appear var(--ease);
  will-change: transform, opacity;
}

.frame {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: .25rem;
  background-color: var(--lightestColor);

  .subtitle + .text {
    margin: .5rem 0 1.5rem;
  }

  .text:last-child {
    margin-bottom: 0;
  }
}

.resources {
  margin-top: .75rem;
  list-style: none;

  .item {
    padding-bottom: .5rem;
  }

  .link {
    position: relative;
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--darktestColor);
  
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--darktestColor);
    }
  
    &:active,
    &:focus-visible {
      outline: 4px solid var(--outlineColor);
      outline-offset: 4px;
    }
  }
}

.models {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  transform-origin: 50% 0;
  animation: .55s Appear var(--ease);
  will-change: transform, opacity;

  .item {
    padding: 1rem 1rem 0 0;
  }

  .link {
    display: inline-flex;
    align-items: center;
    padding: .5rem 1.75rem .75rem 1rem;
    background-color: var(--darkColor);
    border-radius: .25rem;
    text-decoration: none;
    line-height: 1.25rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--whiteColor);
  
    &:active,
    &:focus-visible {
      outline: 4px solid var(--outlineColor);
      outline-offset: -1px;
    }

    .icon {
      width: auto;
      height: 4rem;
      margin-right: .75rem;
    }
  }
}

.results {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
  transform-origin: 50% 0;
  animation: .55s Appear var(--ease);
  will-change: transform, opacity;
}

.footing {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  transform-origin: 50% 0;
  animation: .55s Appear var(--ease);
  will-change: transform, opacity;
}