.dark {
  color: var(--dark-fg);
  background-color: var(--dark-bg);
}

.light {
  color: var(--light-fg);
  background-color: var(--light-bg);
}

// .title {

//   .dark & {
//     background: var(--dark-title-bg);
//     -webkit-background-clip: text;
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
//     color: transparent;
//   }

//   .light & {
//     background: var(--light-title-bg);
//     -webkit-background-clip: text;
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
//     color: transparent;
//   }
// }

.footer {

  .icon {
  
    .dark & {
      fill: var(--dark-fg);
    }
    
    .light & {
      fill: var(--light-fg);
    }
  }
}

// .button {

//   .dark & {
//     background-color: var(--dark-button-bg);
//   }

//   .light & {
//     background-color: var(--light-button-bg);
//   }
// }

.link {

  .dark & {
    background-color: var(--dark-link-fg);
  }

  .light & {
    background-color: var(--light-link-fg);
  }
}

.radio {

  .dark & {
    color: var(--dark-fg);
  }

  .light & {
    color: var(--light-fg);
  }
}

.range {

  input[type="range"] {
  
    .dark & {
      background-color: var(--dark-input-bg);
    }
  
    .light & {
      background-color: var(--light-input-bg);
    }
  }
}