@import '../../styles/variables.scss';

.home {

  .title {
    text-align: center;
    line-height: 3.8rem;
    font-size: 3.6rem;
  }

  .button {
    margin-top: 6vh;
    padding: 1.4rem;
    line-height: 1.4rem;
    font-size: 1.4rem;

    @media screen and (max-width: $tablet-portrait) {
      margin-top: 1rem;
    }
  }
}