.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  background-color: var(--lighterColor);

  .navigation {
    position: relative;
  }
  
  .list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    li:first-child {
      flex: 1;
    }
  }

  .link {
    margin-left: .5rem;
  }
}
