.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  background-color: var(--lighterColor);

  .navigation {
    position: relative;
  }
  
  .list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    li:first-child {
      flex: 1;
    }
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2.6rem;
    margin-left: .5rem;
    text-decoration: none;
    background-color: var(--lightestColor);
    border: 0;
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
  
    &:active,
    &:focus-visible {
      outline: 4px solid var(--outlineColor);
      outline-offset: -1px;
    }
  
    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
