@import '../../styles/variables.scss';

.tab-list {
  display: flex;
  justify-content: center;
  margin-top: 6vh;

  .tab {
    padding: 1rem;
    border: 0;
    text-decoration: none;
    line-height: 1rem;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;

    @media screen and (max-width: $tablet-portrait) {
      line-height: 1rem;
      font-size: .8rem;
    }

    &:first-child {
      border-top-left-radius: 1.25rem;
    }

    &:last-child {
      border-top-right-radius: 1.25rem;
    }

    &:active,
    &:focus-visible {
      z-index: 2;
      outline: 3px dashed var(--outline);
      outline-offset: 3px;
    }
  }
}
