.card {
  align-items: stretch;
  overflow: hidden;
  background-color: var(--solid-color-2);
  border-radius: 0.25rem;
  transform-origin: 50% 0;
  animation: 0.25s Appear var(--ease);
  will-change: transform, opacity;
  text-align: left;
  color: var(--neutral-color-1);

  @include tablet-portrait {
    width: 100%;
  }

  @for $i from 1 through 3 {
    $duration: ($i + 2.5) * 0.1;

    &:nth-child(#{$i}) {
      animation-duration: #{$duration}s;
    }
  }

  &:focus-visible,
  &:hover {
    background-color: var(--solid-color-3);
  }
}

.inner {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;

  p {
    flex: 1;
    line-height: 1.35;
    font-size: 1.25rem;
  }
}

.svg {
  width: 3rem;
  height: auto;
}

@keyframes Appear {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
}
