.title {
  padding: 1.25rem;
  background-image: linear-gradient(
    60deg,
    var(--solid-color-3) 0%,
    var(--solid-color-2) 100%
  );
  background-color: var(--solid-color-1);
  border-radius: 0.25rem;
  line-height: 1.35;
  font-weight: bold;
  font-size: 1.75rem;
  color: var(--color-1);
  transform-origin: 50% 0;
  animation: 0.35s Appear var(--ease);
  will-change: transform, opacity;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button {
  gap: 0.75rem;
  position: relative;
  height: 5rem;
  padding: 0 1.5rem 0 2rem;
  background-color: var(--solid-color-1);
  border-radius: 2.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--color-1);

  .icon {
    font-size: 2rem;
  }

  &::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--solid-color-3);
    border-radius: 2.5rem;
  }

  &:focus-visible {
    background-color: var(--solid-color-3);
  }

  &:hover {
    background-image: linear-gradient(
      270deg,
      var(--pastel-color-1),
      var(--pastel-color-2),
      var(--pastel-color-3),
      var(--pastel-color-4),
      var(--pastel-color-5),
      var(--pastel-color-1),
      var(--pastel-color-2),
      var(--pastel-color-3),
      var(--pastel-color-4),
      var(--pastel-color-5),
      var(--pastel-color-1)
    );
    background-size: 200% 200%;
    background-clip: text;
    animation: Slide 2.5s linear infinite;
    color: transparent;

    &::after {
      display: block;
    }
  }
}

@keyframes Appear {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes Slide {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
