.percent {
  padding: 1rem;
  background-color: var(--lightColor);
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  text-align: right;
  font-weight: bold;
  line-height: 1.25rem;
  font-size: 1.25rem;

  &.negative {
    color: var(--negativeColor);
  }

  &.positive {
    color: var(--positiveColor);
  }
}
