.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  height: 5rem;
  background-color: var(--color-1);
  border-bottom: 0.25rem solid var(--color-3);

  @include tablet-portrait {
    height: 4rem;
  }
}

.inner {
  position: relative;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  margin-right: 10rem;

  @include tablet-landscape {
    margin-right: 0;
  }

  @include tablet-portrait {
    display: none;
  }
}

.name,
.tab,
.button,
.burger {
  padding: 0 1rem;
  background-color: transparent;
  color: var(--solid-color-1);

  &:focus-visible {
    background-color: var(--color-3);
    outline-offset: -0.35rem;
  }

  &:hover {
    background-color: var(--color-3);
  }
}

.name {
  gap: 0.25rem;
  text-align: center;
  font-size: 1.25rem;

  @include tablet-portrait {
    font-size: 1rem;
  }
}

.svg {
  width: 4rem;
  height: auto;

  @include tablet-portrait {
    display: none;
  }
}

.tab {
  font-size: 1.25rem;
}

.button {
  font-size: 2.25rem;
}

.burger {
  display: none;
  font-size: 2.25rem;

  @include tablet-portrait {
    display: flex;
  }
}

.active {
  background-color: var(--color-3);
}
