.question {

  .title {
    display: flex;
    line-height: 3rem;
    font-size: 2.8rem;

    span {
      margin-right: 1rem;
      font-size: 2rem;
    }
  }

  .navigation {
    margin-top: 6vh;
  }

  .button {
    margin: 0 1rem;
    padding: 1rem;
    line-height: 1.2rem;
    font-size: 1.2rem;
  }

  .notebook {
    margin-top: 1rem;
  }
}