.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  background-color: var(--whiteColor);
  border: 0;
  border-radius: .25rem;
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:focus-visible {
    outline: 4px solid var(--outlineColor);
    outline-offset: -2px;
  }

  .label {
    padding-left: .5rem;
    text-transform: uppercase;
    line-height: 1.15rem;
    font-size: 1.15rem;
    font-weight: bold;
    color: var(--darktestColor);
  }

  .icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.start {
  position: relative;
  padding: .25rem;
  animation: Move 4s infinite alternate;
  background: linear-gradient(60deg,#5f86f2,#a65ff2,#f25fd0,#f25f61,#f2cb5f,#abf25f,#5ff281,#5ff2f0);
  background-position: 0 50%;
  background-size: 300% 300%;
  border-radius: 1.5rem;
  border: 0;
  color: var(--whiteColor);
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:focus-visible {
    outline: 4px solid var(--outlineColor);
    outline-offset: -1px;
  }

  .label {
    display: block;
    padding: 1.2rem;
    border-radius: 1.25rem;
    background-color: var(--darktestColor);
    letter-spacing: .05rem;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.button {
  position: relative;
  background-color: var(--darktestColor);
  border-radius: 1rem;
  border: 0;
  color: var(--whiteColor);
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:focus-visible {
    outline: 4px solid var(--outlineColor);
    outline-offset: -1px;
  }

  .label {
    display: block;
    padding: 1.2rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  & + & {
    margin-left: 1rem;
  }
}

.a11y {
  color: var(--darktestColor);

  &:active,
  &:focus-visible {
    outline: 4px solid var(--outlineColor);
    outline-offset: 4px;
  }

  .label {
    font-size: 1rem;
  }
}