.debug {
  background-color: var(--pastel-color-7);
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.25;
  color: var(--solid-color-4);

  span {
    padding-right: 1rem;
  }
}
