@import '../../styles/variables.scss';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 1rem;

  .list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    @media screen and (max-width: $tablet-portrait) {
      justify-content: center;
    }
  }

  .link {
    margin-left: .5rem;

    @media screen and (max-width: $tablet-portrait) {
      margin: 0 .5rem;
    }
  }
}
