.percent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0 0.75rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-size: 1rem;
}

.true {
  background-color: var(--solid-color-5);
  color: var(--color-2);
}

.wrong {
  background-color: var(--solid-color-11);
  color: var(--color-1);
}

.icon {
  font-size: 2rem;
}
