.reference-models {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  transform-origin: 50% 0;
  animation: 0.45s Appear var(--ease);
  will-change: transform, opacity;
}

.button {
  position: relative;
  gap: 0.85rem;
  padding: 1rem 1.25rem 1rem 1rem;
  background-color: var(--solid-color-2);
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--neutral-color-1);

  &:focus-visible,
  &:hover {
    background-color: var(--solid-color-3);
  }
}

.raw-materials {
  .svg {
    width: 3.5rem;
    height: auto;
  }
}

.water {
  .svg {
    width: 2.5rem;
    height: auto;
  }
}

.primary-energy {
  .svg {
    width: 2.5rem;
    height: auto;
  }
}

.greenhouse-gas {
  .svg {
    width: 4.5rem;
    height: auto;
  }
}

@keyframes Appear {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
}
