.banner {
  background-color: var(--color-3);
  background-size: 300% 300%;
  background-position: 0 50%;
  animation: BackAndForth 10s alternate infinite;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 1rem;

  p {
    line-height: 1.25;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--neutral-color-2);
  }

  a {
    display: inline;
    color: var(--solid-color-1);

    &:focus-visible {
      outline-offset: 0.05rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.icon {
  font-size: 2rem;
}

.primary {
  background-image: linear-gradient(
    60deg,
    var(--solid-color-7),
    var(--solid-color-5),
    var(--solid-color-6)
  );
}

.secondary {
  background-image: linear-gradient(
    60deg,
    var(--solid-color-4),
    var(--solid-color-8),
    var(--solid-color-7)
  );
}

@keyframes BackAndForth {
  50% {
    background-position: 100% 50%;
  }
}
