.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-3);
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  background-size: 300% 300%;
  background-position: 0 50%;
  animation: Slide 10s alternate infinite;

  @include tablet-portrait {
    padding: 1rem;
  }

  a {
    border-bottom: 0.2rem solid var(--primary-color);
    color: var(--primary-color);
  }
}

.primary {
  background-image: linear-gradient(
    60deg,
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
}

.tertiary {
  background-image: linear-gradient(
    60deg,
    hsl(336, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(315, 100%, 60%)
  );
}

.secondary {
  background-image: linear-gradient(
    60deg,
    hsl(60, 100%, 50%),
    hsl(24, 100%, 50%),
    hsl(336, 100%, 50%)
  );
}

@keyframes Slide {
  50% {
    background-position: 100% 50%;
  }
}
